<div id="<%= dom_id cart %>">
  <p>
    <strong>Accepted:</strong>
    <%= cart.accepted %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= cart.fulfilled %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= cart.paid %>
  </p>

</div>
