<h1>Editing articlephoto</h1>

<%= render "form", articlephoto: @articlephoto %>

<br>

<div>
  <%= link_to "Show this articlephoto", @articlephoto %> |
  <%= link_to "Back to articlephotos", articlephotos_path %>
</div>
