<div id="<%= dom_id room %>" class="grid-x grid-padding-x">
    <div class='cell small-2'>
      Name:
    </div>
    <div class='cell small-6'>
      <strong><%= room.name %></strong>
    </div>
</div>
